<p-panel>
  <p-header>
    <label class="col-form-label">Search Inventory</label>
  </p-header>
  <p-confirmDialog></p-confirmDialog>
  <p-messages [(value)]="msgs"></p-messages>
  <div class="form-group row">
    <div class="col-md-12">
      <p-table #dt [columns]="cols" [value]="inventories" [paginator]="true" [rows]="10" selectionMode="single"
        [(selection)]="model" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of cols">{{col.header}}</th>
            </tr>
            <tr>
              <th *ngFor="let col of cols" [ngSwitch]="col.type">
                <input *ngSwitchCase="'txt'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                  style="width:100%">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-inv let-columns="cols">
            <tr [pSelectableRow]="inv">
              <td>{{inv.name}}</td>
              <td>{{inv.invBalance.qty}}</td>
              <td>{{inv.invBalance.balance}}</td>
              <td>{{inv.unitPricePurchase}}</td>
              <td>{{inv.unitPriceSales}}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="footer" let-columns>
            <tr>
              <td colspan="5" align="center"> <button type="button" class="ui-button-secondary ui-button-rounded" pButton
                  icon="pi pi-plus" label="Add an Inventory" (click)="onAdd()"></button></td>
            </tr>
          </ng-template>

      </p-table>
    </div>
  </div>
</p-panel>