<div class="form-group row">
  <div class="col-md-4">
    <h4>Accounting</h4>
  </div>
  <div class="col-sm-8" style="text-align:right">
      <button pButton type="button" class="ui-button-secondary"  label="Run Report" ></button>
      <button type="button" class="ui-button-success" pButton icon="pi pi-plus" label="New" (click)="onAdd()"></button>
  </div>
</div>
<nb-card>
  <nb-card-body>
    <p-confirmDialog></p-confirmDialog>
    <p-messages [(value)]="msgs"></p-messages>
    <div class="form-group row">
      <div class="col-md-12">
        <p-table #dt [columns]="cols" [value]="coas" [paginator]="true" [rows]="10" selectionMode="single"
          [(selection)]="model" (onRowSelect)="onRowSelect($event)">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of cols">{{col.header}}</th>
            </tr>
            <tr>
              <th *ngFor="let col of cols" [ngSwitch]="col.type">
                <input *ngSwitchCase="'txt'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                  style="width:100%">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-coa let-columns="cols">
            <tr [pSelectableRow]="coa">
              <td> {{coa.accountType.name}} </td>
              <td> {{coa.accountDetailType.name}} </td>
              <td>{{coa.name}} </td>
              <td>{{coa.description}} </td>
              <td>{{coa.taxName}} </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  <p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" [fullScreen]="true" >
      <div class="form-group row">
          <div class="col-md-12">
            <h4>Accounting</h4>
          </div>
        </div> 
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="model.accountType.id" class="col-form-label">Account Type</label><br />
            <p-dropdown [options]="accTypeDD" #accTypDD [(ngModel)]="model.accountType.id" [style]="{'width':'100%'}" filter="true"
              name="model.accountType.id" (onChange)="onChangeAccTypeDD(accTypDD)">
              <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
              </ng-template>
              <ng-template let-lbl pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:left;margin-top:4px">{{lbl.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-sm-6">
            <label for="model.accountDetailType.id" class="col-form-label">Detail Type</label><br />
            <p-dropdown [options]="accDetTypeDD" [(ngModel)]="model.accountDetailType.id" [style]="{'width':'100%'}"
              filter="true" name="model.accountDetailType.id">
              <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
              </ng-template>
              <ng-template let-lbl pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:left;margin-top:4px">{{lbl.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="name" class="col-form-label">Code</label><br />
            <input type="text" pInputText [(ngModel)]="model.name" name="model.name" style="width:100%">
          </div>
          <div class="col-sm-6">
            <label for="name" class="col-form-label">Name </label><br />
            <input type="text" pInputText [(ngModel)]="model.description" name="model.description" style="width:100%">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="model.balance" class="col-form-label">Balance</label><br />
                <input *ngIf="model.id==0" type="text" pInputText [(ngModel)]="model.balance" name="model.coaBalance.balance" style="width:100%">
             
              </div>
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <label for="model.asOf" class="col-form-label">As of</label><br />
                  <p-calendar *ngIf="model.id==0" [(ngModel)]="model.asOf" name="model.asOf"></p-calendar>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12" style="text-align:right">
                <p-button *ngIf="model.id != 0" icon="pi pi-trash" (click)="onDeleteConfirm()" label="Delete" styleClass="ui-button-danger"></p-button>
                <p-button *ngIf="model.id ==0"  (click)="display=false" label="Cancel" styleClass="ui-button-secondary"></p-button>
                <p-button icon="pi pi-check" label="Save"  (onClick)="onSave()" styleClass="ui-button-success"></p-button>
              </div>
          </div>
      </form>
    </div>
  </div>
</p-sidebar>