<nb-card>
  <nb-card-header>
    Sales
  </nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div style="padding: 5px">
        <div class="dropdown btn-group" ngbDropdown>
          <button type="button" class="btn btn-primary">New</button>
          <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" (click)="onAddNew('I')">Invoice</li>
            <li class="dropdown-item" (click)="onAddNew('Q')">Quote</li>
          </ul>
        </div>
      </div>
      <div style="padding: 5px">
        <button type="button" class="btn btn-primary">
          <i class="nb-home"></i>
          <span>Send Statment</span>
        </button>
      </div>
      <div style="padding: 5px">
        <button type="button" class="btn btn-primary">
          <i class="nb-home"></i>
          <span>import</span>
        </button>
      </div>
      <div style="padding: 5px">
        <button type="button" class="btn btn-primary">
          <i class="nb-home"></i>
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12"> <b>Invoices</b> | <a [routerLink]="['../../sales/sales-search']" [queryParams]="{type: 'I',stage:'0'}">See all</a></div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group ng-untouched ng-pristine ng-valid">
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'I',stage:'1'}">Draft
            <br> {{model.nDraft}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'I',stage:'2'}">Awaiting
            Approval <br>{{model.nAwApproval}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'I',stage:'3'}">Awaiting
            Payment <br>{{model.nAwPayment}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'I',stage:'4'}">Paid<br>{{model.nPaid}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'I',stage:'5'}">
            Overdue <br> {{model.nOverdue}} </a>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12"> <b>Quotes</b> | <a [routerLink]="['../../sales/sales-search']"  [queryParams]="{type: 'Q',stage:'0'}">See all</a></div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group ng-untouched ng-pristine ng-valid">
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'Q',stage:'1'}">Draft
            <br> {{model.nDraftQ}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'Q',stage:'2'}">Awaiting
             Approval <br>{{model.nAwApprovalQ}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'Q',stage:'3'}">Awaiting
            Payment <br>{{model.nAwPaymentQ}}</a>
            <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'Q',stage:'4'}">Paid<br>{{model.nPaidQ}}</a>
          <a [routerLink]="['../../sales/sales-search']" class="btn btn-outline-primary" [queryParams]="{type: 'Q',stage:'5'}">
            Overdue <br> {{model.nOverdueQ}} </a>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>