<div class="form-group row">
  <div class="col-md-12">
    <h4>{{soFormTitle}}</h4>
  </div>
</div>
<nb-card>
  <nb-card-body>
    <p-messages [(value)]="msgs"></p-messages>
    <form #purchaseForm="ngForm">
      <div class="form-group row">
        <div class="col-md-12">
          <p-steps [model]="items" [activeIndex]="model.stage.id-1"></p-steps>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="custId" class="col-form-label">Vendor</label><br />
              <p-dropdown [options]="model.custSupps" [(ngModel)]="model.suppId" [style]="{'width':'100%'}" filter="true"
                name="model.suppId">
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-cust pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:left;margin-top:4px">{{cust.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-sm-12">
              <label for="trxnDate" class="col-form-label">Date</label><br />
              <div class="form-group">
                <div class="input-group">
                  <p-calendar [(ngModel)]="model.trxnDate" showButtonBar="true" name="model.trxnDate"></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="soCode" class="col-form-label">{{soFormTitle}} #</label><br />
              <input type="text" pInputText [(ngModel)]="model.poCode" style="width:100%" name="model.soCode" />
            </div>
            <div class="col-sm-12">
              <label for="dueDate" class="col-form-label">Due Date</label><br />
              <div class="form-group">
                <div class="input-group">
                  <p-calendar [(ngModel)]="model.estDeliveryDate" showButtonBar="true" name="model.estDeliveryDate"></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="referrence" class="col-form-label">Notes</label><br />
              <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="model.referrence" name="model.referrence"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">Items</div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <p-table #dt [columns]="cols" [value]="model.pods" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width:20%">Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Account</th>
                <th>Tax</th>
                <th>Ammount</th>
              </tr>
              <tr>
                <th *ngFor="let col of cols" [ngSwitch]="col.type">
                  <input *ngSwitchCase="'txt'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    style="width:100%">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sod let-columns="cols">
              <tr style="height: 20px">
                <td pEditableColumn style="width:20%">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="model.inventories" [(ngModel)]="sod.invDD.value" [style]="{'width':'100%'}"
                        filter="true" name="sod.invDD.value">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-lbl pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;" (click)="onChangeDD(lbl,sod,'inventory')">
                            <div style="font-size:14px;float:left;margin-top:4px">{{lbl.label}}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{sod.invDD.label}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="sod.quantity" required name="sod.quantity" (change)="onCalculate()">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{sod.quantity}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="sod.unitPrice" name="sod.unitPrice" (blur)="onCalculate()">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{sod.unitPrice | currency:environment.currency}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="model.coas" [(ngModel)]="sod.coaDD.value" [style]="{'width':'150px'}"
                        filter="true" name="sod.coaDD.value">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-lbl pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;" (click)="onChangeDD(lbl,sod,'coa')">
                            <div style="font-size:14px;float:left;margin-top:4px">{{lbl.label}}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{sod.coaDD.label}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="model.taxes" [(ngModel)]="sod.taxDD.value" [style]="{'width':'150px'}"
                        filter="true" name="sod.taxDD.value">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-lbl pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;" (click)="onChangeDD(lbl,sod,'tax')">
                            <div style="font-size:14px;float:left;margin-top:4px">{{lbl.label}}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{sod.taxDD.label}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  {{sod.txnAmount | currency:environment.currency}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
              <tr><td colspan="6" align="center"> <button type="button" class="ui-button-secondary ui-button-rounded"  pButton icon="pi pi-plus" label="Add an item" (click)="onAdd()" ></button></td> </tr>
              <tr>
                <td colspan="3" align="right">Total :</td>
                <td>{{model.totalTaxAmount | currency:environment.currency}}</td>
                <td>{{model.totalAmount | currency:environment.currency}}</td>
                <td></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div style="text-align:right">
                <p-button icon="pi pi-file" (click)="onReset()" label="New"></p-button>
                <p-splitButton label="Save" (onClick)="onSave()" [model]="items" styleClass="ui-button-success"></p-splitButton>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>


    </form>
    <br /><br /><br /><br />
  </nb-card-body>
</nb-card>

<ng-template #modal let-c="close" let-d="dismiss">
  <form (ngSubmit)="onSubmit();d('Cross click');" #suppCustForm="ngForm">
    <nb-card>
      <nb-card-header>Supplier</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col-md-12">
            <ngx-select-dropdown [config]="config" [options]="model.inventories" [multiple]="false" (change)="selectionChanged($event,'inv')"></ngx-select-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <input class="form-control" type="number" placeholder="Qty" [(ngModel)]="modelPod.quantity" name="modelPod.quantity">
          </div>
          <div class="col-md-5">
            <input class="form-control" type="number" placeholder="Price" [(ngModel)]="modelPod.unitPrice" name="modelPod.unitPrice"
              (blur)="onCalculateTrxn()">
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" placeholder="Tax" [(ngModel)]="modelPod.taxAmount" name="modelPod.taxAmount"
              (blur)="onCalculateTrxn()">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-8">
            <input class="form-control" type="number" placeholder="Amount" [(ngModel)]="modelPod.txnAmount" name="modelPod.txnAmount">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" (click)="onAddPurchaseDetail()">Add</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</ng-template>