<nb-card>
  <nb-card-header>
    New Bill
  </nb-card-header>
  <nb-card-body>
    <form #purchaseForm="ngForm">
      <div class="row">
        <div class="col-sm-3">
          <label for="custId" class="col-form-label">From</label><br />
          <!--
          <ngx-select-dropdown [config]="config" [options]="model.custSupps" [(value)]="custDD" [multiple]="false"
            (change)="selectionChanged($event,'cust',0)"></ngx-select-dropdown>
            -->
        </div>
        <div class="col-sm-3">
          <label for="poCode" class="col-form-label">Bill #</label><br />
          <input class="form-control" id="poCode" [(ngModel)]="model.poCode" name="poCode">
        </div>
        <div class="col-sm-3">
          <label for="referrence" class="col-form-label">Referrence</label><br />
          <input class="form-control" id="referrence" [(ngModel)]="model.referrence" name="referrence">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="trxnDate" class="col-form-label">Date</label><br />
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="trxnDtNgb" [(ngModel)]="trxnDtNgb"
                ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="d1.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="dueDate" class="col-form-label">Due Date</label><br />
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dueDtNgb" [(ngModel)]="dueDtNgb" ngbDatepicker
                #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="d2.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 nb-card-header" >Bill Detail</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustomAction()"
            (userRowSelect)="onRowSelected($event)">
          </ng2-smart-table>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-2">
          <b>Sub Total</b><br />
          <b>Tax</b><br />
          <b>Total</b><br />
        </div>
        <div class="col-sm-4" style="float:left">
          <b>: {{subTotal}}</b><br />
          <b>: {{model.totalTaxAmount}}</b><br />
          <b>: {{model.totalAmount}}</b><br />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"><button class="btn btn-primary" (click)="onAddPurchaseDetail()">New Details</button></div>
        <div class="col-sm-2">
          <div class="dropdown btn-group" ngbDropdown>
            <button type="button" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" (click)="onSave()">Save</li>
              <li class="dropdown-item" (click)="onApprove()">Approve</li>
              <li class="dropdown-item">Approve & Add New</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn" (click)="openModalAdd()" id="newBtn" style="display: none">
          </button>
        </div>
      </div>
    </form>
    <br /><br /><br /><br />
  </nb-card-body>
</nb-card>

<ng-template #modal let-c="close" let-d="dismiss">
  <form (ngSubmit)="onSubmit();d('Cross click');" #suppCustForm="ngForm">
    <nb-card>
      <nb-card-header>Supplier</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col-md-12">
            <ngx-select-dropdown [config]="config" [options]="model.inventories" [multiple]="false" (change)="selectionChanged($event,'inv')"></ngx-select-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <input class="form-control" type="number" placeholder="Qty" [(ngModel)]="modelPod.quantity" name="modelPod.quantity">
          </div>
          <div class="col-md-5">
            <input class="form-control" type="number" placeholder="Price" [(ngModel)]="modelPod.unitPrice" name="modelPod.unitPrice" (blur)="onCalculateTrxn()">
          </div>
          <div class="col-md-4">
              <input class="form-control" type="number" placeholder="Tax" [(ngModel)]="modelPod.taxAmount" name="modelPod.taxAmount" (blur)="onCalculateTrxn()">
            </div>
        </div>
        <div class="form-group row">
        <div class="col-md-8">
            <input class="form-control" type="number" placeholder="Amount" [(ngModel)]="modelPod.txnAmount" name="modelPod.txnAmount">
          </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" (click)="onAddPurchaseDetail()">Add</button>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</ng-template>