<p-panel>
  <p-header>
    <label class="col-form-label">List of Supplier</label>
  </p-header>
  <p-messages [(value)]="msgs"></p-messages>
  <p-table #dt [columns]="cols" [value]="customerSuppliers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:20%">Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Country</th>
        <th style="width:100px">Action</th>
      </tr>
      <tr>
        <th *ngFor="let col of cols" [ngSwitch]="col.type">
          <input *ngSwitchCase="'txt'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
            style="width:100%">
          <button *ngSwitchCase="'btn'" type="button" pButton icon="pi pi-plus" (click)="onAdd()" style="width:100%"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cust let-columns="cols">
      <tr style="height: 20px">
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cust.name" required name="cust.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{cust.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cust.phone" required name="cust.phone">
            </ng-template>
            <ng-template pTemplate="output">
              {{cust.phone}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cust.email" required name="cust.email">
            </ng-template>
            <ng-template pTemplate="output">
              {{cust.email}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="cust.address.street" required name="cust.address.street">
              </ng-template>
              <ng-template pTemplate="output">
                {{cust.address.street}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="cust.address.city" required name="cust.address.city">
                </ng-template>
                <ng-template pTemplate="output">
                  {{cust.address.city}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="cust.address.state" required name="cust.address.state">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cust.address.state}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="cust.address.zip" required name="cust.address.zip">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cust.address.zip}}
                  </ng-template>
                </p-cellEditor>
              </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cust.address.country" required name="cust.address.country">
            </ng-template>
            <ng-template pTemplate="output">
              {{cust.address.country}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn class="td-action">
          <div class="div-action">
            <a class="a-action" href="#"><i class="nb-edit"></i></a>
            <a class="a-action" (click)="onRemoveSod()"><i class="nb-trash"></i></a>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>



<nb-card>
  <nb-card-header>
    List of Supplier
  </nb-card-header>
  <nb-card-body>
    <button type="button" class="btn btn" (click)="openModalAdd()" id="newBtn" style="display: none">
    </button>
    <div class="form-group row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustom($event)">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit();d('Cross click');" #suppCustForm="ngForm">
        <nb-card>
          <nb-card-header>Supplier</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input class="form-control" id="nameId" placeholder="Name" [(ngModel)]="model.name" name="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneId" class="col-sm-3 col-form-label">Phone</label>
              <div class="col-sm-9">
                <input type="phone" class="form-control" id="phoneId" placeholder="Phone" [(ngModel)]="model.phone"
                  name="phone">
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneId" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="phone" class="form-control" id="emailId" placeholder="Email" [(ngModel)]="model.email"
                  name="email">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Address</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">Attention</label>
              <div class="col-sm-9">
                <input class="form-control" id="attentionId" placeholder="Attention" [(ngModel)]="model.address.attention"
                  name="attention">
              </div>
            </div>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">Street</label>
              <div class="col-sm-9">
                <input class="form-control" id="streetId" placeholder="Street" [(ngModel)]="model.address.street" name="street">
              </div>
            </div>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">City</label>
              <div class="col-sm-9">
                <input class="form-control" id="cityId" placeholder="City" [(ngModel)]="model.address.city" name="city">
              </div>
            </div>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">State</label>
              <div class="col-sm-9">
                <input class="form-control" id="stateId" placeholder="State" [(ngModel)]="model.address.state" name="state">
              </div>
            </div>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">Postal Code</label>
              <div class="col-sm-9">
                <input class="form-control" id="zipId" placeholder="Postal Code" [(ngModel)]="model.address.zip" name="zip">
              </div>
            </div>
            <div class="form-group row">
              <label for="nameId" class="col-sm-3 col-form-label">Country</label>
              <div class="col-sm-9">
                <input class="form-control" id="countryId" placeholder="Country" [(ngModel)]="model.address.country"
                  name="country">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>
</ng-template>