<nb-card>
  <nb-card-header></nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div class="col-md-12"> <a href="#">Paid</a><br />
        <b>Invoice</b>
        <nb-tabset fullWidth (changeTab)="onTabChange($event)">
          <nb-tab *ngFor="let tab of tabs" [tabTitle]="tab.title" [active]="tab.active">
          </nb-tab>
        </nb-tabset> <br />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustomAction()"
          (userRowSelect)="onRowSelected($event)">
        </ng2-smart-table>
      </div>
    </div>
    <div class="form-group row">
      <div style="padding: 5px;padding-left: 15px">
          <button type="button" (click)="onUpdateStage(1)" class="btn btn-primary btn-rectangle">Draft</button>
      </div>
      <div style="padding: 5px;">
          <button type="button" (click)="onUpdateStage(2)" class="btn btn-primary btn-rectangle">Submit fo Approval</button>
      </div>
      <div style="padding: 5px">
          <button type="button" (click)="onUpdateStage(3)" class="btn btn-primary btn-rectangle">Approve</button>
      </div>
      <div style="padding: 5px">
          <button type="button" (click)="onUpdateStage(4)" class="btn btn-primary btn-rectangle">Receive Payment</button>
      </div>
  </div>
  </nb-card-body>
</nb-card>